
@{
    ViewBag.Title = "Giris";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Giris Sayfası</h2>
<div class="row">
    <form method="post">

        kullanıcı adı:<input type="text" name="kullaniciAdi" />
        <br />
        şifre:<input type="password" name="sifre" />
        <br />
        <button type="submit">Giriş Yap</button>


    </form>
</div>

