@model Mvc22._11.Models.Entity.TBLURUNLER
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>ÜRÜN ADI</label>
        <input type="text" class="form-control" name="URUNAD" required="" placeholder="Ürün Adı Giriniz..."/>
    </div>
    <div>
        <label>MARKA</label>
        <input type="text" class="form-control" name="MARKA" required="" placeholder="Marka giriniz..." />
    </div>
    <div>
        <label>ÜRÜN KATEGORİ SEÇİNİZ</label>
        @Html.DropDownListFor(m => m.TBLKATEGORILER.KATEGORIID, (List<SelectListItem>)ViewBag.dgr, new {@class="form-control"})
    </div>
    <div>
        <label>FİYAT</label>
        <input type="text" class="form-control" name="FIYAT" required="" placeholder="Fiyat giriniz..." />
    </div>
    <div>
        <label>STOK ADETİ</label>
        <input type="text" class="form-control" name="STOK" required="" placeholder="Stok giriniz..."/>
    </div>
    <div style="margin-top:25px">
        <button class="btn btn-info">ÜRÜN Ekle</button>
    </div>
</form>


